@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #048ECF;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #ffff;
    font-weight: 600;
    font-size: 1.8em;

}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding: 30px;
}

.navigation a:hover {
    color: rgb(0, 238, 255);
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../image/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.main h1 {
    color: whitesmoke;
    font-size: 2.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 2.8em;
    font-weight: 600;
}

.main h2 {
    color: cyan;
    font-size: 1.2em;
    font-weight: 600;
    margin: 20px 0;
}



.main-btn {
    color: #fff;
    background-color: #048ECF;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    margin-top: 20px;
}

.main-btn:hover {
    background-color: #048ECF;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #048ECF;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /20%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.7s ease;
}

.icon {
    color: #048ECF;
    font-size: 5em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h4 {
    color: #048ECF;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.info p {
    margin-top: 5px;
}
.offres{
    background-color: white;
    max-width: 900px;
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
}
.off{
    display: flex;
}
.off img{
    width: 300px;
    margin: 10px;
    border-radius: 10px;
}
.off p{
    margin: 10px;
}
/* .off button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 8px 12px;
    background-color: #4e9eff;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 10px;
}
.off button:hover{
    background: black;
} */
.input-group.mb-3 {
    display: flex;
    padding: 10px;
    justify-content: center;
    width: 100%;
}
input.form-control {
    border: 1px solid #048ecf;
    border-right: none;
    padding: 5px;
    border-radius: 5px;
}
button.btn.btn-primary {
    padding: 5px;
    border-left: none;
    background: #048ecf;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: -10px;
}